@font-face {
  font-family: "Kento";
  src: url("/Kento Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kento";
  src: url("/Kento Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kento";
  src: url("/Kento Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-body: "Times New Roman", ui-sans-serif, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans";
  --font-heading : "Kento", ui-sans-serif, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans";

  /* Custom palette from provided image */
  --color-royal-navy: #3f404f;
  --color-soft-navy: #71717f;
  --color-tan: #b2aea7;
  --color-tan-light: #c7c5c0;
  --color-off-white: #d9d9d9;
  --color-charcoal: #393838;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-royal-navy);
    --foreground: white;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
